
@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>
<div class="alert alert-danger mx-auto" role="alert" style="width: 500px;">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <strong>Oops!</strong> @ViewBag.Msg
</div>
